@import "./_common.scss";
@import "./common/_progressBar.scss";
@import "./common/_searchInput.scss";
@import "./common/_customSelect.scss";

@import "./home/_home.scss";
@import "./home/_serverSelect.scss";
@import "./home/_serverBlock.scss";
@import "./home/_quickServerSelect.scss";
@import "./home/_gameSelect.scss";

@import "./service/_service.scss";
@import "./service/_serviceSelect.scss";
@import "./service/_paymentSelect.scss";
@import "./service/_paymentDone.scss";

@import "./support/_support.scss";
@import "./support/_supportList.scss";

@import "./share/_share.scss";
@import "./share/_shareContent.scss";

@import "./giftcode/_giftcode.scss";
@import "./giftcode/_giftcodeItem.scss";
@import "./giftcode/_giftcodeContent.scss";

@import "./layout/_theHeader.scss";
@import "./layout/_theDrawer.scss";

@import "./login/_login.scss";

@import "./profile/_profile.scss";

@import "./affiliate-history/_affiliateHistoryList.scss";

*,
html {
    word-break: break-word;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "Open Sans", sans-serif;
}

html,
body,
#app {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    & > div {
        flex-grow: 1;
    }
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 auto;
    color: #ffffff;
    background: var(--bg-color);
    overflow-x: hidden;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.container {
    max-width: 1024px;
    padding: 0 20px;
}

.container-fluid {
    width: 100%;
}

.layout-container {
    height: 100%;
    display: flex;
    padding: var(--container-padding-y) var(--container-padding-x);
    padding-right: 0;
    header,
    main > div {
        padding-right: var(--container-padding-x);
    }
    .main-view {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
        position: relative;
        position: relative;
    }
    .background-layout {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        .ellipse {
            position: fixed;
            bottom: 0;
            right: 0;
        }
    }

    &.empty-layout {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .background-layout {
            background-color: #141414;
            .bg-1,
            .bg-2,
            .ellipse-1 {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .ellipse-2 {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        header,
        main > div {
            padding-right: 0;
            margin: auto;
        }
        .the-header {
            padding: 0 16px;
            margin: auto;
            background: transparent;
            margin-top: 40px;
            max-width: 912px;
        }
        .main-view {
            width: 100%;
        }
    }
}

button {
    position: relative;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: none;
}

.btn {
    position: relative;
    font-size: var(--text-sm);
    border-radius: 28px;
    outline: none;
    cursor: pointer;
    border: none;
    min-height: 32px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    &-primary {
        background: var(--primary);
        color: white;
        &:hover {
            background: var(--primary-gradient);
            filter: drop-shadow(0 0 25px rgba($color: #f18280, $alpha: 0.25));
        }
    }
    &-secondary {
        background: var(--primary);
        color: white;
        &:hover {
            background: var(--primary-gradient);
            filter: drop-shadow(0 0 25px rgba($color: #f18280, $alpha: 0.25));
        }
    }
    &-disabled {
        pointer-events: none !important;
        user-select: none;
        opacity: 0.7;
    }
    &-white {
        background: white;
        color: #141414;
        border: 1px solid #707070;
        &:hover {
            background: #d6d6d6;
        }
    }
}

.icon-btn {
    --icon-btn-size: 30px;
    width: var(--icon-btn-size);
    min-width: var(--icon-btn-size);
    height: var(--icon-btn-size);
    border-radius: 50%;
    background: rgba(151, 125, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
    &:hover {
        background: rgba(151, 125, 255, 0.4);
        transform: scale(1.05);
    }
}

.gradient-text {
    background: linear-gradient(95.6deg, #00ffec -1.4%, #62e399 46.34%, #edbc22 98.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: max-content;
}

.text-white {
    color: white;
}

.text-primary {
    color: var(--primary);
}

.text-9a {
    color: #99999a;
}

.main-title {
    font-size: var(--text-2xl);
    font-weight: 700;
    color: white;
}

.main-subtitle {
    font-size: var(--text-xs);
    color: #707070;
}

.content-block {
    padding: 16px;
    border-radius: var(--radius-block);
    background-color: var(--bg-block-color);
    margin-top: 12px;
}

.block-count {
    font-size: var(--text-xs);
    font-weight: 400;
    line-height: 1;
    padding: 4px 6px;
    background: #484748;
    border-radius: 8px;
}

.decoration-none {
    text-decoration: none;
}

.view-history-btn {
    color: var(--primary);
    text-decoration: underline;
}

.ping {
    color: #ec0e0e;
    &-low {
        color: #329932;
    }
    &-medium {
        color: #ffc019;
    }
}

.pointer-events-none {
    pointer-events: none;
}
