.payment-done {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &-block {
        flex-grow: 1;
    }
    &-top {
        margin-bottom: 40px;
    }
    &-bottom {
        max-width: 394px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &-icon {
        margin-bottom: 32px;
    }
    &-title {
        font-size: var(--text-2xl);
        font-weight: 700;
        margin-bottom: 16px;
    }
    &-subtitle {
        font-size: var(--text-xs);
        color: #707070;
        margin-bottom: 32px;
    }
    .btn {
        font-size: var(--text-base);
        font-weight: 600;
        line-height: 1;
        padding: 16px;
        width: 256px;
        background: #212121;
        &:hover {
            background: #4a4a4a;
            filter: drop-shadow(0 0 10px rgba($color: #F18280, $alpha: 0.25));
        }
    }
}
