.home-view {
    overflow-x: hidden;
    .download-text {
        font-size: 20px;
        letter-spacing: 0.6px;
        line-height: 1.7;
        margin: 0 0 40px;
    }
    .download-btn {
        width: 400px;
        height: 64px;
        .btn-text {
            font-size: 28px;
            line-height: 1;
            padding-bottom: 4px;
        }
    }
}
